
.pjImage{
border:6px solid #102e6c;
border-top:none;
margin-bottom:-60px;
background-color:#102e6c;
}
.audiojs .scrubber
{width:350px;
 background:#000}

.audiojs {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #102e6c), color-stop(0.5, #102e6c), color-stop(0.51, #102e6c), color-stop(1, #102e6c));
width: 500px;
	
}


.audiojs .loaded{
	background:#000;
}

.audiojs .progress {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #808080), color-stop(0.5, #808080), color-stop(0.51, #808080), color-stop(1, #808080));
    background-image: -moz-linear-gradient(center top, #808080 0%, #ddd 50%, #808080 51%, #808080 100%);
}

.pjText
{
width:488px;
color:#f1f1f1;
text-shadow:1px 1px 1px #000,2px 2px 2px #000;
font-size:18px;
font-family:open sans condensed,sans-serif;
font-style: italic;
position:relative;
margin-bottom:50px
}

.pjQUOTE
{
width:488px;
background-color:#102e6c;
display: inline-block;
text-align:center;
}


.pjBars
{
font-size:25px;
text-align:left;
margin-left:-1px;
font-family:Goldman;
margin-top:12px;
font-style: normal;
}

.pjBars2
{

margin-left:255px;
}


.statsTip {
  margin-top:-33px;
  position: relative;
  display: inline-block;
  font-family:Goldman;
  color:#8796b5;
  font-size:25px;
  font-style: normal;

}

.statsTip .statsTiptext {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
  width: 350px;
  bottom: 80%;
  left: 50%;
  margin-left: -175px; /* Use half of the width (120/2 = 60), to center the statsTip */
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-family:open sans condensed,sans-serif;
   font-size:16px;
   font-weight:bold;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the statsTip */
  position: absolute;
  z-index: 1;
}

.statsTip .statsTiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the statsTip */
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
}

.statsTip:hover .statsTiptext {
  visibility: visible;
  opacity: 1;
}


.pjHab {
  margin-top:-213px;
  position: relative;
  display: inline-block;
  font-family:Goldman;
  color:#8796b5;
  font-size:28px;
  font-style: normal;

}

.pjHab .pjHabText {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
  width: 480px;
  top: 100%;
  left: 50%;
  margin-left: -240px; /* Use half of the width (120/2 = 60), to center the statsTip */
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-family:open sans condensed,sans-serif;
   font-size:13px;
   font-weight:bold;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the statsTip */
  position: absolute;
  z-index: 1;
}

.pjHab .pjHabText::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the statsTip */
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
}


.pjHab:hover .pjHabText {
  visibility: visible;
  opacity: 1;
}


.statName
{
font-size:17px;
font-family:Goldman;
font-style: bold;
color: #fff;
  text-align: center;
}



/* Style the tab */
.tab {
  float: left;
  background: rgb(16,46,108);
  background: rgba(16,46,108, 0.6);
  width: 30%;
  max-height: 250px;
  overflow:auto;
  box-sizing: border-box;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: white;
  padding: 4.8px 14px;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 10px;
  font-family:Goldman;
  box-sizing: border-box;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background: rgb(13,39,91);
  background: rgba(13,39,91, 0.6);
  box-sizing: border-box;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background: rgb(13,39,91);
  box-sizing: border-box;
 
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  font-size:10.5px;
  text-align:left;
  max-height: 250px;
  overflow:auto;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track { 
  background: rgb(241, 241, 241);
  background: rgba(241, 241, 241, 0.6);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(19,53,125);
  background: rgba(19,53,125, 0.8);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(19,53,125); 
}
