@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&family=Ropa+Sans&family=Goldman&display=swap');

:root {
  --borders: rgb(94, 113, 97);
  --borderOp:  rgba(94, 113, 97, 0.6);
  --active: rgb(3, 85, 78);
  --active2: rgba(3, 85, 78, 0.6);
  --hoverColor: rgba(9, 179, 164, 0.6);
  --text1:  #A9A9A9 ;
  --text2: #A9A9A9 ;
}
.pjImage{
border:6px solid var(--borders);
border-top:none;
margin-bottom:-60px;
background-color:var(--borders);
}
.audiojs .scrubber
{width:340px;
 background:#000}

.audiojs {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, var(--borders)), color-stop(0.5, var(--borders)), color-stop(0.51, var(--borders)), color-stop(1, var(--borders)));
width: 500px;
	
}
.audiojs .loaded{
	background:#000;
}

.audiojs .progress {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #808080), color-stop(0.5, #808080), color-stop(0.51, #808080), color-stop(1, #808080));
    background-image: -moz-linear-gradient(center top, #808080 0%, #ddd 50%, #808080 51%, #808080 100%);
}
.pjText
{
width:488px;
color:#f1f1f1;
text-shadow:1px 1px 1px #000,2px 2px 2px #000;
font-size:18px;
font-family: 'Ropa Sans', sans-serif;
}

.pjQUOTE
{
width:495px;
background-color:var(--borders);
display: inline-block;
text-align:center;
font-family: 'Stint Ultra Condensed', cursive;
font-size:22px;

}


.sigBottom
{
font-size:28px;
font-style: normal;
font-weight: bold;
font-family:Goldman;
position: relative;
display: inline-block;
}

.hpBlock
{
text-align:left;
position:absolute;
right:170px;
bottom:25px;
width:130px;
}

.mpBlock
{
text-align:right;
position:absolute;
left:170px;
bottom:25px;
width:130px;
}
  /* Furigana */
rt {
  color:#f1f1f1;
  font-style: normal;
  font-family:'Ropa Sans', sans-serif;
  text-shadow: 1px -1px 0px rgba(0,0,0,0.7),
             1px 0px 0px rgba(0,0,0,0.9),
             1px 2px 0px rgba(0,0,0,0.9);
 
}


.statsTip {
  color:var(--text1);
  font-size:33px;

}

.statsTip .statsTiptext {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
  width: 350px;
  bottom: 80%;
  left: 50%;
  margin-left: -175px; /* Use half of the width (120/2 = 60), to center the statsTip */
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-family:'Ropa Sans', sans-serif;
   font-size:16px;
   font-weight:bold;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the statsTip */
  position: absolute;
  z-index: 1;
}

.statsTip .statsTiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the statsTip */
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
}

.statsTip:hover .statsTiptext {
  visibility: visible;
  opacity: 1;
}


.pjHab {
  margin-top:-211px;
  position: relative;
  display: inline-block;
  font-family:Goldman;
  color:var(--text1);
  font-size:28px;
  font-style: normal;
  font-weight:bold;

}

.pjHab .pjHabText {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
  width: 480px;
  top: 100%;
  left: 50%;
  margin-left: -240px; /* Use half of the width (120/2 = 60), to center the statsTip */
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-family:'Ropa Sans', sans-serif;
  font-weight:bold;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
   text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;

  /* Position the statsTip */
  position: absolute;
  z-index: 1;
}

.pjHab .pjHabText::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the statsTip */
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
}


.pjHab:hover .pjHabText {
  visibility: visible;
  opacity: 1;
}


.statName
{
font-size:17px;
font-family:Goldman;
font-style: bold;
color: #fff;
  text-align: center;
}



/* Style the tab */
.tab {
  float: left;
  background: var(--borders);
  background: var(--borderOp);
  width: 30%;
  max-height: 250px;
  overflow:auto;
  box-sizing: border-box;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: white;
  padding: 4.8px 14px;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 11px;
  font-family:Goldman;
  box-sizing: border-box;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background: var(--hoverColor);
  box-sizing: border-box;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background: var(--active);
  background: var(--active2);
  box-sizing: border-box;
 
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  font-size:11.5px;
  text-align:left;
  max-height: 250px;
  overflow:auto;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track { 
  background: rgb(241, 241, 241);
  background: rgba(241, 241, 241, 0.6);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: --active2;
  background: --active2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: --active2; 
}


a {
  color:inherit;
  text-decoration: none; /* no underline */
}

a:hover {
  color:var(--text2);
  text-decoration: none; /* no underline */
}

a[title]:hover:after {
  content: attr(title);
  position: absolute;
  bottom: -36%;
  left: 22;
  font-size:20px;
  color:#FFFCFA;
  width:230px;

}

